doctype html
html(lang="en")
    head
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        meta(content="telephone=no" name="format-detection")
        meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover")
        title app
    body
        div.rotate
            div.hede 顶部
            div.content
                span 左侧
                span 右侧
            div
                input