@import "../../common/common";
img{
  display: block;
}
.hede{
  background: $color_32CD32;
  color: $color_FFFFFF;
  text-align: center;
  height: .6rem;
  line-height: .6rem;
  font-size: .2rem;
}
.content{
  @extend %overflow-hidden;
  span{
    display: block;
    width: 3.6rem;
    background: $color_00BFFF;
    float: left;
    text-align: center;
    color: $color_FFFFFF;
    font-size: 0.01rem;
  }
}

.rotate {
  width: 7.2rem;
  margin: 0px auto;
}